.ptz-menu-dropdown-absolute {
  position: absolute;
  left: 77.75%;
  top: 93%;
  transform: translate(-50%, -65%);
  display: flex;
  flex-direction: row;
  gap: 12px;
  background: none !important;
  padding: 12px 18px;
  border-radius: 12px;
  box-shadow: none;
  z-index: 2147483646;
  
}

.ptz-menu-dropdown-absolute .ptz-extra-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #0B0C20;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  transition: filter 0.2s, transform 0.2s;
  cursor: pointer;
  box-shadow: 0 0px 4px 2px #000a;
}

.ptz-menu-dropdown-absolute .ptz-extra-btn:hover {
  transform: scale(1.1);
}

.ptz-menu-dropdown-absolute .ptz-extra-btn:active {
  transform: scale(0.95);
} 